<style>
    .footer-item{
  width: 100%;
  background-color: #0260cd;
  color: #fff;
  display: flex;
  align-items: center ;
}

.img-footer img{ 
  height: 80px;
  width: 228px;
  padding-left: 65px;
}
.social-footer{
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  width: 80%;
}

.social-footer a{
  padding: 10px;
 
}
.social-footer li{
  transition:0.5s
}
.social-footer li:hover{
  transform: scale(2,2);
}
</style>
<footer id="footer">
        <div class="footer-item">
            <div class="img-footer">
                <img src="/images/ts.png" alt="">
            </div>
        </div>
    </footer>